
include ../modules/vars

header.header
  .header-inner.container
    .header__logo.logo
      a.logo__link(href="/")
        img.logo__src(src=require('@/images/logo.svg') alt="")
    nav.header__nav.nav 
      ul.nav-list 
        each val in menu
          li.nav__item(class=val.hasCounter ? 'nav__item--count' : null )
            a.nav__link(href=val.link)
              span=val.name
              span(aria-hidden="true")=val.name
            if val.hasCounter 
              span.nav__count 3
    a.header__btn.btn.btn--primary.js-open-modal(href="#")
      span.btn__text Jetzt bewerben
